.password-heading{
    margin-top: -50px;
    padding-left: 80px;
    padding-bottom: 10px;
}

.change-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  /* Login Form */
  .change-form {
    width: 500px;
    padding: 50px;
    padding-right: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .change-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .change-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .change-form button {
    width: 50%;
    padding: 10px;
    background-color: rgb(60,16,83);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -15px;
    margin-left: 0px;
  }
  
  .change-form button:hover {
    background-color: #00578a;
  }

  .change-form p {
    padding-bottom: 15px;
  }