/* Login Container */
.login-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  /* Login Form */
  .login-form {
    width: 360px;
    padding: 50px;
    padding-right: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 120%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(60,16,83);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
  }
  
  .login-form button:hover {
    background-color: #00578a;
  }
  
  /* Forgot Password Link */
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #0070a8;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

  .login-heading{
    margin-top: -20px;
    padding-left: 120px;
  }

  .signup-message {
    margin-top: 20px; 
    text-align: center; 
    font-size: 14px;
  }
  
  .signup-message a {
    color: #0070a8;
    text-decoration: none;
  }
  
  .signup-message a:hover {
    text-decoration: underline;
  }