.heading{
    margin-top: -30px;
    padding-left: 80px;
    padding-bottom: 10px;
}

.formf-group {
    display: flex;
    align-items: center;
  }
  
  .formf-group label {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  button {
    margin-left: 10px; /* Adjust the margin as needed */
  }

.forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  /* Login Form */
  .forgot-form {
    width: 500px;
    padding: 50px;
    padding-right: 80px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .forgot-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .forgot-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-form button {
    width: 50%;
    padding: 10px;
    background-color: rgb(60,16,83);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: -15px;
    margin-left: 10px;
  }
  
  .forgot-form button:hover {
    background-color: #00578a;
  }
  
  
  .otp button{
    margin-left: -1px;
    width: 50%;
  }
  
  